@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
*::-webkit-scrollbar {
  width: 5px;               /* width of the entire scrollbar */
  animation-duration: 1s;
}
*::-webkit-scrollbar:hover{
  width: 12px !important;
  animation-duration: 1s;
}
body::-webkit-scrollbar-track {
  background: #242842;        /* color of the tracking area */
  overflow: hidden !important;
}

body::-webkit-scrollbar-thumb {
  background-color: gray;    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
  border: none;  /* creates padding around scroll thumb */
}

.center{
  max-width: 1280px !important;
  display: flex;
  overflow: hidden;
  padding: 10px;
}

.center-row{
  max-width: 1280px !important;
  display: flex;
  overflow: hidden;
  padding: 10px;
}

.menu{
  display: block;
}
.hamburger{
  display: none;
}
@media screen and (max-width: 768px) {
  .menu{
    display: none;
  }
  .hamburger{
    display: block;
  }
  .container{
    width: 100vw !important;
    flex-direction: column !important;
  }
}

@media only screen and (max-width: 600px){
  .center{
    flex-direction: column !important;
    width: 100vw;
  }

}