@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}
.center{
  max-width: 1280px;
  display: flex;
  overflow: hidden;
  padding: 10px;
}

.menu{
  display: block;
}
.hamburger{
  display: none;
}
@media screen and (max-width: 768px) {
  .menu{
    display: none;
  }
  .hamburger{
    display: block;
  }
  .container{
    width: 100vw !important;
    flex-direction: column !important;
  }
}