@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: __Anek_Gujarati_882baa;
  font-style: normal;
  font-weight: 100 800;
  font-stretch: 100%;
  font-display: swap;
  src: url(/public/font/AnekGujarati-Regular.woff2) format("woff2");
  unicode-range: u+0964-0965, u+0a80-0aff, u+200c-200d, u+20b9, u+25cc, u+a830-a839
}

@font-face {
  font-family: __Anek_Gujarati_882baa;
  font-style: normal;
  font-weight: 100 800;
  font-stretch: 100%;
  font-display: swap;
  src: url(/public/font/AnekGujarati-Regular.woff2) format("woff2");
  unicode-range: u+0100-02af, u+0304, u+0308, u+0329, u+1e00-1e9f, u+1ef2-1eff, u+2020, u+20a0-20ab, u+20ad-20cf, u+2113, u+2c60-2c7f, u+a720-a7ff
}

@font-face {
  font-family: __Anek_Gujarati_882baa;
  font-style: normal;
  font-weight: 100 800;
  font-stretch: 100%;
  font-display: swap;
  src: url(/public/font/AnekGujarati-Bold.woff2) format("woff2");
  unicode-range: u+00??, u+0131, u+0152-0153, u+02bb-02bc, u+02c6, u+02da, u+02dc, u+0304, u+0308, u+0329, u+2000-206f, u+2074, u+20ac, u+2122, u+2191, u+2193, u+2212, u+2215, u+feff, u+fffd
}

@font-face {
  font-family: __Anek_Gujarati_Fallback_882baa;
  src: local("Arial");
  ascent-override: 104.40%;
  descent-override: 56.25%;
  line-gap-override: 0.00%;
  size-adjust: 94.58%
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
*::-webkit-scrollbar {
  width: 5px;               /* width of the entire scrollbar */
  animation-duration: 1s;
}
*::-webkit-scrollbar:hover{
  width: 12px !important;
  animation-duration: 1s;
}
body::-webkit-scrollbar-track {
  background: #242842;        /* color of the tracking area */
  
}

.hero{
  background-image: linear-gradient(
    to right bottom,
    rgba(19, 19, 19, 0.5),
    rgba(48, 48, 48, 0.6)
  ),
  url('../../public/hero/herobg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
}
.about{
  background-image: linear-gradient(
    to right bottom,
    rgba(19, 19, 19, 0.5),
    rgba(48, 48, 48, 0.6)
  ),
  url('../../public/about/bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
body::-webkit-scrollbar-thumb {
  background-color: gray;    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
  border: none;  /* creates padding around scroll thumb */
}
html{
  overflow-x: hidden !important;
}
.center{
  max-width: 1280px !important;
  display: flex;
  overflow: hidden;
  padding: 10px;
}
.center-row{
  max-width: 1280px !important;
  display: flex;
  overflow: hidden;
  padding: 10px;
}
.menu{
  display: block;
}
.hamburger{
  display: none;
}
@media screen and (max-width: 768px) {
  .menu{
    display: none;
  }
  .hamburger{
    display: block;
  }
  .container{
    width: 100vw !important;
    flex-direction: column !important;
  }
}

@media only screen and (max-width: 600px){
  .center{
    flex-direction: column !important;
    width: 100vw;
  }

}